@{
    ViewData["Title"] = "Access Authorization";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Clark County Water Reclamation District System Access Authorization
    </p>
    <p>
        Due to the potentially sensitive nature of the information contained on the Clark County Water Reclamation District’s (District’s) online Digital Plan Submittal system, the District requires that firms or entities formally acknowledge their responsibility to restrict access to those authorized by a principal of their organization.
    </p>
    <p>
        Please acknowledge that you have read and understand the “Terms of Use” document, and assign an individual within your organization to serve as your Administrator. The Administrator has the responsibility to assign or restrict various levels of access to those within your organization based on their job duties and responsibilities.
    </p>
    <p>
        The District requires a written authorization on your company letterhead with the following wording and information <a href="AccessAuthorizationForm">(see next page)</a>:
</p>
</div>
