@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Clark County Water Reclamation District
    5857 East Flamingo Rd/.<br />
    Las Vegas, NV 89122<br />
    <abbr title="Phone">P:</abbr>
    702.688.8888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DEVELOPMENTSERVICES@CLEANWATERTEAM.com">DevelopmentServices@CleanWaterTeam.com</a><br />
</address>