@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h4>
    PIPES Portal Terms of Use
</h4>

<p>
    Welcome to the Clark County Water Reclamation District ("CCWRD") PIPES Portal. By using this web site, related data, and/or related services (collectively, "Services"), you agree to be bound by the following terms of use ("Terms of Use").
</p>

<p>
    Access to the Clark County Water Reclamation District (CCWRD) PIPES Portal are for authorized users only. To protect these systems from unauthorized use and to ensure they function properly, activities on these systems and use of Services are monitored and recorded and subject to audit. By using any Services, the user has consented to such monitoring and recording.
</p>

<p>
    Use of these applications also means you will abide by the typical use of protected applications, including but not limited to:
    <ul>
        <li>Authorized users cannot give out their login information to another party.</li>
        <li>Inspection Scheduling & Results and Digital Plan Submittal are to be used only by authorized users and organizations.</li>
        <li>These systems are a service and provided for the convenience of developers, contractors and engineering firms. The Clark County Water Reclamation District is not responsible for any issues created by a malfunction of these applications.</li>
        <li>The user agrees not to reproduce, modify, distribute, decompile, disassemble or reverse engineer any portion of the Services.</li>
        <li>The user agrees not to remove or modify any copyright or other intellectual property notices that appear in the Services.</li>
        <li>The user agrees not to use the Services in any way that is unlawful, or harms CCWRD, its service providers, suppliers or any other user. The user agrees not to use the Services in any way that breaches any other policy or notice on the Services. CCWRD's failure to act with respect to a breach by the user or others does not waive its right to act with respect to subsequent or similar breaches.</li>
        <li>The Services are the property of CCWRD and are subject to the intellectual property rights of CCWRD and to the laws, including public records laws, of the State of Nevada.</li>
        <li>No warranty. CCWRD provides the services "as is," "with all faults" AND "as available," and the entire risk as to satisfactory quality, performance, accuracy, and effort is with you. To the maximum extent permitted by applicable law. CCWRD and its suppliers make no representations, warranties or conditions, express or implied. CCWRD and its suppliers expressly disclaim any and all warranties or conditions, express, statutory and implied, including without limitation (A) warranties or conditions of merchantability, fitness for a particular purpose, worknanlike effort, accuracy, title, quiet enjoyment, no encumbrances, no liens and non-infringement, (B) Warranties or conditions arising through course of dealing or usage of trade, and (C) warranties or conditions of uninterrupted or error-free access or use.</li>
        <li>Liability limitation; exclusive remedy. In addition to applicable Nevada laws regarding sovereign immunity, in no event will CCWRD or any supplier be liable for any damages, including without limitation any indirect, consequential, special, incidental, or punitive damages arising out of, based on, or resulting from these terms of use or your use of the services, even if such party has been advidsed of the possibility of such damages. The exclusion of damages under this paragraph is independent of the user's exclusive remedy and survives in the event such remedy fails of its essential purpose or is otherwise deemed unenforceable. These limitations and exclusions apply without regard to whether the damages arise from (A) Breach of contract, (B) Breach of warranty, (C) Negligence, or (D) Any other cause of action, to the extent such exclusion and limitations are not prohibited by applicable law. If you do not agree with any part of these terms of use, or you have any dispute or claim against CCWRD or its suppliers with respect to these terms of use or the services, then your sole and exclusive remedy is to discontinue using the services.</li>
    </ul>
</p>
<p>
    CCWRD reserves the right to change the Terms of Use, and the user is responsible for regularly reviewing these Terms of Use. Continued use of the Services after the effective date of such changes will constitute acceptance of and agreement to any such changes. CCWRD may suspend or discontinue the Services at any time without notice to all or selected users. CCWRD may assign this Agreement, in whole or in part, at any time with or without notice to the user. The user may not assign these Terms of Use, or assign, transfer or sublicense your rights, if any, in the Service.
</p>
<p>
    These Terms of Use are governed by the laws of the State of Nevada, without giving effect to its conflict of laws provisions. The user agrees to submit to exclusive jurisdiction and venue in the state and federal courts sitting in Clark County, Nevada for any and all disputes, claims and actions arising from or in connection with the Services and/or these Terms of Use.
</p>
<p>
    If any part of these Terms of Use are determined to be invalid or unenforceable, then the invalid or unenforceable provision will be replaced with a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these Terms of Use will continue in effect.
</p>
<p>
    Except as expressly stated herein, these Terms of Use constitute the entire agreement between CCWRD and the user with respect to the Services and supersede all prior or contemporaneous communications of any kind between CCWRD and the user with respect to the Services.
</p>
<p>
    To obtain a user name and password or for more information, contact CCWRD Engineering Services at 702-688-8888
</p>
